

<div class="content" role="main">


  <div class="card-container">
    <base-button (click)="pay()" text="Pay With Kkiapay">
      <svg icon class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
    </base-button>
  </div>

  <div [ngClass]="{'card-container': true }">

    <form (ngSubmit)="onSubmit()" [formGroup]="form" >

    <base-input
      [controls]="formControl"
      [group]="form"
      [required]="true"
      name="ledingo"
      type="string"
      defaultValue="ayémi"
      class="mb-3"
    >
      <svg icon class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" fill="#dedede"/></svg>
    </base-input>


    <base-button type="submit" text="Valider" [loading]="loading">
      <svg icon class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" fill="rgb(105, 103, 103)"/></svg>
    </base-button>

    </form>

  </div>


</div>


<router-outlet></router-outlet>
